* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: dimgrey;
}

#root {
  display: flex;
}

.dashboard {
  height: 93vh;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: right;
}

#base-layout-container {
  flex: 4;
}
