* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: dimgrey;
}

#root {
  display: flex;
}

#base-layout-container {
  flex: 4;
}

#base-layout-outlet {
  position: relative;
}

#dashboard {
  padding: 20px 0 0 0;
  height: $main-panel-width;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: right;
}
