* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
}

.dashboard {
  height: 93vh;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: right;
}

#base-layout-container {
  flex: 4;
}
