#home-page {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: $light-fill;
  overflow-y: scroll;
}

#home-summary {
  padding: 10% 15% 5% 15%;
}

#top-panel {
  background-image: url("../images/Truck-background.jpg");
  background-size: cover !important;
  background-attachment: scroll;
  background-position: center;
  height: 55vh;
  display: flex;
  padding: 50px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  #catch-phrase {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    flex: 1;

    span {
      font-size: 3em;
      font-weight: bold;
    }
  }

  #summary {
    flex: 3;
    font-size: 1.5em;
    font-weight: bold;
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }

  #quick-search-wrapper {
    flex: 2;

    #quick-search {
      height: 75px;
      min-width: 300px;
      width: 33%;
      margin: 0 auto;
      top: 5%;
      background-color: $light-fill;
      position: relative;
      top: 25%;
    }
  }
}

#bottom-wrapper {
  width: 100%;
  margin-top: 20px;

  #bottom-panel {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    #advantages-panel {
      position: relative;
      height: 100%;
      width: 100%;

      #get-started {
        text-align: center;

        #get-started-button {
          margin: 10px;
          background-color: $steelblue-darken-3;
        }
      }

      .advantages-icons {
        height: 50px;
        width: 50px;
      }
    }
  }
}
