.parallax-content {
  height: calc(100vh - 75px);
}

.parallax-content-footer {
  height: 300px;
}

.parallax-container {
  background: transparent;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.text-glow {
  text-shadow: 0px 0px 10px white;
  font-weight: 700;
}
